#nav-container {
    display: flex;
}
#nav-links-list {
    list-style: none;
    display: flex;
    border: 1px solid black;
    padding: 10px;
}

#nav-links-list li {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid black;
}

#nav-links-list li:last-of-type {
    border-right: none;
}
