#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    background-color: rgb(255, 167, 167);
    border: 1px solid black;
    padding: 10px;
}
#nav-links-list {
    list-style: none;
    display: flex;
    padding: 10px;
}

#nav-links-list li {
    padding-right: 10px;
    padding-left: 10px;
   border-right: 1px solid black;
}

 a:link{
text-decoration:none;	
}

#nav-links-list li:last-of-type {
    border-right: none;
}

#login-container {
    padding: 10px;
}

#username-input {
    margin-right: 10px;
    height: 30px;
    width: 150px;
}

#password-input {
    height: 30px;
    width: 150px;
}
