.centerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    font-size: 1.1rem;
    color: brown;
    width: 50%;
    height: 40%;
    align-self: center;
    /* Fix this with flex box instead of margin */
    margin-top: 10%;
}