.centerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid var(--gray);
    font-size: 1.1rem;
    color: var(--red);
    width: 50%;
    height: 40%;
    align-self: center;
    /* Fix this with flex box instead of margin */
    margin-top: 12%;
}