.about-container {
  margin-top: 8%;
  border-radius: 20px;
  box-shadow: 2px 2px 10px gray;
  background-color: var(--white);
  font-size: 1.2rem;
  color: var(--red);
  width: 75%;
  height: 100%;
  padding: 0 10px 5px 10px;
}

.about-container h1 {
  color: var(--red);
}
