#chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* Find out what's causing the scroll and fix it */
    overflow-x: hidden;
    color: var(--white);
}

#chart-container img {
    width: 800px; 
    border-radius: 5px;
    box-shadow: 1px 1px 8px lightslategrey;
}
