:root {
  --gray: rgb(102, 102, 102);
  --white: rgb(235, 235, 235);
  --red: rgb(207, 49, 49);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: rgb(27, 27, 27);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
