html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background: url('./assets/imgs/Heart_Beat.jpg') fixed no-repeat center/cover;
  color: rgb(27, 27, 27);
}
.App {
  text-align: center;
}
